<h3>Breakdown of Time Received</h3>
<table class="table table-hover">
  <tr>
    <th>Time Received</th>
    <th>Number Received</th>
  </tr>
  <%counter = 0%>
  <%24.times do%>
    <tr>
      <td class="time-received"><%="#{counter}:00".rjust(5, "0")%></td>
      <td class="number-received"><%=@hour_hits[counter]%></td>
    </tr>
    <%counter +=1%>
  <%end%>
</table>
