body {
  background-image: url("images/frogmen_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}
