<div class="page-header">
  <h1><%= params[:identifier].capitalize %> Event Index</h1>
</div>
<div class="col-md-12" id="event_listing">
  <h3>Received Events</h3>
  <ol>
    <% @events.each do |event,count| %>
    <li><%= "#{event}: #{count}" %></li>
    <% end %>
  </ol>
</div>
