<!DOCTYPE html>
  <html>
  <head>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <title>Traffic Spy</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>    
  </body>
  </html>
