<!DOCTYPE html>
  <html>
  <head>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/application.css" rel="stylesheet">
    <title>Traffic Spy</title>
  </head>
  <body>

      <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <nav class='navbar-brand'>Traffic Spy</nav>
          <span><a href="/" class="navbar-link navbar-center navbar-text">Sources Index</a></span>
        </div>
      </nav>

    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
  </html>
